<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDZ2kVmhIQenh-YsI_sWXIYDPmWmMFmRE</string>
	<key>GCM_SENDER_ID</key>
	<string>927344201419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viberadar.viberadar</string>
	<key>PROJECT_ID</key>
	<string>viberadar-462b8</string>
	<key>STORAGE_BUCKET</key>
	<string>viberadar-462b8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927344201419:ios:4633e386e641834453d54e</string>
</dict>
</plist>